#set($context.requestOverride.header.X-Amz-Target = "AWSEvents.PutEvents")
#set($context.requestOverride.header.Content-Type = "application/x-amz-json-1.1")
#set($market = $input.json('$.body.payload.fullDocument_payload.market'))
#if(!$market)
  #set($market = "UNKNOWN")
#end
{
  "Entries": [
    {
      "Source": "cpp-${route_key}-api",
      "DetailType": "${detail_type}",
      "Detail": "$util.escapeJavaScript($input.body)",
      "EventBusName": "${event_bus_arn}"
    }
  ]
}